@font-face{
    font-family: 'Open Sans Condensed';
    src: url('fonts/opensans-condbold-webfont.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Open Sans Condensed';
    src: url('fonts/opensans-condlight-webfont.ttf');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/opensans-condlightitalic-webfont.ttf');
    font-weight: light;
    font-style: italic;
}
@font-face{
    font-family: 'Droid Serif';
    font-weight: normal;
    src: url('fonts/DroidSerif-Regular-webfont.ttf');
}
@font-face{
    font-family: 'Droid Serif';
    font-weight: bold;
    src: url('fonts/DroidSerif-Bold-webfont.ttf');
}
@font-face{
    font-family: 'Droid Serif';
    font-weight: bold;
    font-style: italic;
    src: url('fonts/DroidSerif-BoldItalic-webfont.ttf');
}
@font-face{
    font-family: 'Droid Serif';
    font-weight: normal;
    font-style: italic;
    src: url('fonts/DroidSerif-Italic-webfont.ttf');
}
